<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<date>2017-08-16T14:10:32Z</date>
		<date>2017-01-01T14:10:18Z</date>
	</array>
	<array>
		<true/>
	</array>
</array>
</plist>
